/*General*/

* {  
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.3;
  color: #373E40;
}

/*Sections*/

.section-title {
  position: fixed;
  font-size: 8em;
  opacity: 0.1;
  margin-top: 0.2em;
  margin-left: 0.1em;
  text-transform: uppercase;
  width: 100%;
}

/*Slides*/

.slide-content {
  max-width: 75%;
  margin: auto;
}

.slide-visual {
  min-height: 50%;
  float: left;
  display: inline-block;
}

.slide-title {
  font-size: 2em;
  margin-bottom: 0.3em;
  padding-top: 1em;
}

.slide-text {
  display: inline-block;
  float: right;
  max-width: 50%;
}

.slide-body {
  margin-top: 1em;
  font-size: 1.2em;
  display: block;
  overflow: hidden;
}

.slide-tech {
  font-size: 1em;
  overflow: hidden;
}

/*Slider Arrows*/

.fp-controlArrow.fp-prev {
  border-right-color: #373E40
}

.fp-controlArrow.fp-next {
  border-left-color: #373E40
}

.fp-controlArrow.fp-prev:hover {
 border-right-color: #556063
}

.fp-controlArrow.fp-next:hover {
  border-left-color: #556063
}

/*Main*/

#main-title {
  display: inline-block;
  min-width: 320px;
  float: right;
  margin-top: 5%;
  width: 50%;
}

#main-me {
  float: left;
  display: inline-block;
  min-width: 320px;
  width: 50%;
  text-align: center;
}

#main-title > h1 {
  font-size: 7vw;
  line-height: 1;
  text-align: center;
  margin: 0.3em;
  text-transform: uppercase;
  padding-top: 20%;
}

#main-title > p {
  font-size: 3vw;
  text-align: center;
  margin: 0.1em;
}

/*Development*/

.iphone {
  width: 200px;
  height: 414px;
  float: right;
  padding-left: 7em;
}

.macbook {
  padding-top: 4em;
  height: 250px;
  width: 380px;
}

/*Consulting*/

.text-visual {
  font-size: 10em;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 0.3em;
}